@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Анализ Леса</h1>
        <p class="lead">Выполнила команда: Даниил, Вадим, Влад Группа 22205</p>
    </section>
</main>